/*
##=========+====================+================================================+
##RD        AIDocs-Review CSS   | AIDocs-Review Main App Page Stylesheet
##RFILE    +====================+=======+===============+======+=================+
##FD   index.css                |  24785|  4/12/24 16:07|   883| u1.04`40412.1607
##FD   index.css                |  17987|  4/12/24 11:39|   519| v1.04-40412.1139
##FD   index.css                |  17534|  4/13/24 13:50|   521| u1.04-40413.1350
##FD   index.css                |  17616|  4/14/24 12:30|   522| u1.04-40414.1230
##DESC     .--------------------+-------+---------------+------+-----------------+
#           This HTML file contains the CSS styles for the AIDocs-Review main page.
#           It was developed by Rick Shinner as parts of the formR Apps project.
#           The Styles for The .Marketing properites and Modal have been added.
#
##LIC      .--------------------+----------------------------------------------+
#           Copyright (c) 2024 8020Data-formR * Released under
#           MIT License: http://www.opensource.org/licenses/mit-license.php
##FNCS     .--------------------+----------------------------------------------+
#           https://fonts.googleapis.com/css?family=EB+Garamond
#           https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre
#           https://fonts.googleapis.com/css2?family=Roboto+Slab

##CHGS     .--------------------+----------------------------------------------+
# .(40408.01  4/08/24 RAM  4:00p|  Modify Rick's CSS Styles
# .(40410.05  4/10/24 RJS  4:00p|  Update Mktg text
# .(40410.06  4/10/24 RJS  4:00p|  Update Modal text
# .(40410.07  4/10/24 RJS  4:00p|  Remove H2 headers
# .(40412.01  4/12/24 RAM  4:04p|  Add JPT's Doc Header Info
# .(40412.02  4/12/24 RJS 11:39a|  Various style changes
# .(40413.01  4/13/24 RJS  1:50p|  Prepare for release
# .(40414.05  4/14/24 RAM 12:30p|  Release again
                                |
##SRCE     +====================+===============================================+
*/
/* Basic Blocks Custom App */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

/*=============================================*/
/* root REPLACE Point - :root */
/*----------------------------------------------
:root selector for variables
-----------------------------------------------*/
:root {

    --Body_background-color: lightblue; /*platinum*/                    /* .(40412.02.1 RJS Was: whitesmoke) */

    --Header_background-color: blue;
    --Header_hover-color: white;
    --HeaderLogo-image: "";
    --HeaderLogo_margin: 35px 0 0 0px;
    --HeaderLogo-FontFamily: "Cooper Black";                            /* .(40412.02.2 RJS Was: Roboto Slab;) */
    --HeaderList-font-size: 1.2rem;
    --HeaderHeight: 10%;                                                /* .(40412.02.3 RJS Was: 20px%; ??) */
    --Header_Menu_font-color: whitesmoke;                               /* .(40412.02.4 RJS Add) */
    --ShowMoreColor: whitesmoke;                                        /* .(40412.02.5 RJS Was: white).(40410.05.3 RJS Was Black) */

    --Marketing_height: 90px;                                           /* .(40408.01.1 RAM Was: 120px in v1.04a.40410.1727-Rick) */
    --Marketing_background-color: blue;                                 /* .(40410.05.4 RJS Was whitesmoke) */

    --Chat_background-color: #E5E4E2; /*platinum*/
    --Chat_top-margin: 40px;                                            /* .(40408.01.2 RAM Was: 60px; Added) */
    --Chat_height: 100%;

    --Footer_background-color:  whitesmoke;
    --Footer_hover-color: white;
    --FooterList-font-size: .9rem;

/*  --GlobalFontFamily: "Frank Ruhl Libre", "EB Garamond";              /*#.(40412.02.6 RJS Changed from Garamond) */
    --GlobalFontFamily: Arial, Helvetica, sans-serif;                   /* .(40412.02.6 RJS Changed to Arial) */

/*  --Button_Logo_font-color: whitesmoke;                               /*#.(40412.02.7 RJS Removed) */
}
/* END REPLACE :root ==========================*/

/*----------------------------------------------
The <html> tag properites (unchanged)
-----------------------------------------------*/
html {
    background: var(--Body_background-color);
    height: 100%;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
/* END HTML ===================================*/


/*----------------------------------------------
The body properties
-----------------------------------------------*/
body {
    background: var(--Body_background-color);
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--GlobalFontFamily);
}

/*------------------------------------------------
The .Header properites
-------------------------------------------------*/
.Header {
    background: var(--Header_background-color);
    width: 100%;
    height: var(--HeaderHeight);
    position: fixed;  /*was relative*/
    z-index: 100;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: left;                                              /* .(40412.02.8 RJS Was: space-between;) */
    align-items: center;
}
/* END .Header =============================*/


/*------------------------------------------------
The .HeaderLogo properties
-------------------------------------------------*/
.AIHeaderLogo {
  margin-left: 5px;
  padding-left: 5px;                                                    /* .(40412.02.9 RJS Was: 25px;) */
}
.AIHeaderLogo a {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: var(--HeaderLogo-FontFamily);
  font-weight: 600;
  color: var(--Header_Menu_font-color);                                 /* .(40412.02.10 RJS Was: Button_Logo_font-color) */
  font-style: italic;
}
/*------------------------------------------------
The .HeaderLogoText properties
-------------------------------------------------*/
.HeaderLogoText {
  margin-left: 10px;                                                    /* .(40412.02.11 RJS Was: 5px;) */
  padding-right: 0px;                                                   /* .(40412.02.12 RJS Was: padding-left: 25px;) */
  text-align: left;                                                     /* .(40412.02.13 RJS Add: text-align: left;) */
}
.HeaderLogoText a {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--HeaderLogo-FontFamily);
    font-weight: 600;
    color: var(--Header_Menu_font-color);                               /* .(40412.02.14 RJS Was: Button_Logo_font-color) */
    font: style italic;                                                 /* .(40412.02.15 RJS Undo: removal) */
}

.HeaderVideoDemo {                                                      /* .(40412.02.16 RJS Was: .HeaderLogoDemo) */
                                                                        /* .(40412.02.17 RJS Cut: margin-left) */
  padding-left: 400px;                                                  /* .(40412.02.18 RJS Was: 125px;) */
}
.HeaderVideoDemo a {
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--HeaderLogo-FontFamily);
    font-weight: 800;                                                   /* .(40412.02.18 RJS Was: 500px;) */
    color: var(--Header_Menu_font-color);                               /* .(40412.02.19 RJS Was: Button_Logo_font-color) */
}

.HeaderLogon {                                                          /* .(40410.06.20 RJS Beg Add: .HeaderLogon) */
  padding-left: 30px;
}

.HeaderLogon a {
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--HeaderLogo-FontFamily);
    font-weight: 800;
    color: var(--Header_Menu_font-color);
}                                                                       /* .(40410.06.20 RJS End) */


/*------------------------------------------------
The .Marketing properites
-------------------------------------------------*/
.Marketing {
  background: var(--Marketing_background-color);
  width: 100%; /*was 300px*/
  height: 21%; /*var(--Marketing_height);*/                             /* .(40410.05.5 RJS Was: 13%;).(40408.01.3 RAM Was: 90px;) */
  top: 70px; /*<---ADD to adjust the top position*/                     /* .(40412.02.21 RJS Was: 50px;) */
  position: fixed;
  z-index: 99;
  max-width: 1000px;
  margin: auto;
  color: white;
  text-align: left;
  visibility: visible;                                                  /* .(40410.05.6 RJS Add visibility) */
}

/* END Marketing properties ===========================*/

/*------------------------------------------------
The .MarketingText properties
-------------------------------------------------*/
.MarketingText {
  margin-left: 1rem;
  margin-top: .5rem;
  color: white;                                                         /* .(40410.05.7 RJS Change Mktg font color, was black) */
  text-align: left;
  font-size: .94rem;                                                    /* .(40410.05.8 RJS Change Mktg font size, was .86rem;) */
}

.MarketingBreak {                                                       /* .(40412.02.22 RJS Add: .MarketingBreak) */
  display: none;                                                        /* .(40412.02.22) */
}                                                                       /* .(40412.02.22) */
.AIMyDocsText {                                                         /* .(40410.05.9 RJS Beg Add .AIMyDocs style) */
  font-size: 1rem;
  font-weight: 800;
  text-decoration: underline;
  font-style: italic;
}                                                                       /* .(40410.05.9 RJS End) */
/* END MarketingTexr properties ===========================*/
/*                                                                      /* .(40412.02.23 RJS Beg Move and Remove) */
.ShowMore {
  color: var(--ShowMoreColor);
  font-weight: 600;
}
*/                                                                      /* .(40412.02.23 RJS End) */

                                                                        /* .(40412.02.24 RJS Beg Remove .Hidden properties) */
/* END S1R-1 .Section1 ===========================*/

/*=============================================== */                    /* .(40410.06.2 RJS Beg Add Model Properties) *//*
The Modal Popup properites
-------------------------------------------------*/
/*The Show More Link in marketing*/
.box {
  /*background-color: blue;*/
  height: 1vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}
.box a {
  padding: 1px;
  background-color: blue;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 800;
}
/*END Show More Link in marketing*/

/*The Modal Popup*/
.modal {
  position: fixed;
  inset: 0;
  background: lightgray;
  display: none;
  align-items:first baseline;
  justify-content: center;
}

.content {
  position: relative;
  background: lightgray;
  padding: 1em 2em;
  border-radius: 4px;
  width: 50%;
}

.modal:target {
  display: flex;
}
h1 {
  font-size: .9rem;
}
/* END Modal Popup ===========================*/                        /* .(40410.06.2 RJS End) */


/*===============================================
The .Chat properites
-------------------------------------------------*/
.Chat {
    background: var(--Chat_background-color);
    width: auto;
    height: 2000px; /*var(--Chat_height);*/
    position: relative;
    color: black;
    font-family: var(--GlobalFontFamily);
    font-size: 1.2rem;
    font-weight: 600;
    top: 120px; /*var(--Chat_top-margin);<---ADD to adjust the top position .(40412.02.25 RJS Was 100px;).(40410.06.2 RJS Change Chat Height, was 60).(40408.01.5 RAM Was: 40px) */
    scroll-behavior: auto;
  }
/* END S2R-1 .Chat ===========================*/


/*===============================================
The .Chat h2 properites
-------------------------------------------------*/
.Chat h2 {
    padding: 1.5;
    color: black;
}
/* END S2-1 .Chat h2=========================*/

/*===============================================*/
/* FR-1 REPLACE Point - Footer */
/*------------------------------------------------
The .Footer properites
-------------------------------------------------*/
.Footer {
    background: blue;/*var(--Footer_background-color);*/
    width: 100%;
    height: 2%;
    /*top: 80px;  Removed in place of the bottom property*/
    bottom: 0;
    position: fixed;
    z-index: 99;
    max-width: 1000px;
    margin: auto;
  }
/* END FR-1 .Footer =============================*/


/*===========================================*/
/* R-1 START BLOCK ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* Responsive Code */
/* R-1 INSERT Point - @media (responsive max-width)*/
/*-----------------------------------------

The @media MAX-width query properties
Tablet Portrait
=========================================*/
@media only screen
and (min-width: 621px)
and (max-width: 1000px)
{
  .Section1ImageText {
    font-size: 3rem;
    padding: 20px 200px 0px 0px;
  }
  .AIHeaderLogo a {                                                     /* .(40412.02.26 RJS Beg Add: .AIHeaderLogo for tablet) */
    font-size: 2.5rem;
  }                                                                     /* .(40412.02.26 RJS End)
  .HeaderLogoText a {                                                   /* .(40410.06.4 RJS Beg Add Tablet @Media styles) */
    font-size: 1.7rem;
    font-weight: 400;
  }
  .AIMyDocsText {
    font-size: 1rem;                                                    /* .(40412.02.27 RJS Was: .08rem) */
    font-weight: 400;
    text-decoration: underline;
  }
  .MarketingBreak {
    display: block;
  }                                                                     /* .(40410.06.4 RJS End) */
  /*For popup*/
  h1 {
    font-size: .8rem;
  }
  /*end popup*/
/*------------------------------------------------
The .MarketingText properites
-------------------------------------------------*/
.MarketingText {
  margin-left: .1rem;
  margin-top: .5rem;
  color: white;
  text-align: left;
  font-size: .85rem;                                                    /* .(40412.02.28 RJS Was: .7rem) */
}
/* END MarketingText properties ===========================*/           /* .(40410.06.4 RJS End) */


}
/*-----------------------------------------
The @media MAX-width query properties
iPhone Landscape
=========================================*/
@media only screen
and (min-width: 441px)
and (max-width: 620px)
{
  .AIMyDocsText {                                                       /* .(40410.06.5 RJS Beg Add iPhone @Media styles) */
    font-size: .6rem;
    font-weight: 400;
    text-decoration: underline;
  }
  /*For popup*/
  h1 {
    font-size: .65rem;
  }
  /*end popup*/
/*------------------------------------------------
The .MarketingText properites
-------------------------------------------------*/
.MarketingText {
  margin-left: .1rem;
  margin-top: .5rem;
  color: white;
  text-align: left;
  font-size: .6rem;
}
/* END MarketingTexr properties ===========================*/           /* .(40410.06.5 RJS End) */

  .HeaderLogo {
      font-size: 1.2rem;
      margin-left: 50px;
      background-size: 180px 51px;
  }
  .MenuWrap {
    display: flex;
  }
  .MenuWrap .Menu > div {
    /*move menu around*/
      justify-content: left;
      padding-left: 280px;
      margin-top: -280px;
    /*end of move around*/
    }
  .HeaderNavList {
      display: none;
  }
  .MarketingText {
    font-size: .7rem;
  }
  .Section1ImageText {
    font-size: 2.5rem;
    text-align: center;
    vertical-align: center;
    padding: 20px 150px 20px 0px;
  }
  .Chat h2 {
    font-size: 1.7rem;
  }
  .Footer {
    display: none;
  }
}
/*-----------------------------------------
The @media MAX-width (440px) query properties
iPhone Portrait
=========================================*/
@media only screen
and (max-width: 440px)
{
  .MenuWrap {
    display: flex;
  }
  .MenuWrap .Menu > div {
  /*move menu around*/
    justify-content: left;
    padding-left: 200px;
    margin-top: -80px;
  /*end of move around*/
  }
  .Footer {
    display: none;
  }
  .HeaderLogo {
      font-size: .8rem;
      margin-left: 0px;
      margin-top: 0px;
      background-size: 144px 41px;
      padding: 10px 0px 20px 70px;
  }
  .HeaderNavList {
    display: none;
  }
  .MarketingText {
    font-size: .4rem;
  }
  .Section1ImageText {
      font-size: 2rem;
      padding: 40px 80px 20px 0px;
      text-align: center;
      vertical-align: center;
    }
  h2 {
      padding: 10;
  }
}
/* R-1 END BLOCK ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

                                                                        /* .(40412.02.29 RJS Cut: body { font-family:) */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 700;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* END CSS */
