/*
##=========+====================+================================================+
##RD        AIDocs-Review CSS   | AIDocs-Review Main App Page Stylesheet
##RFILE    +====================+=======+===============+======+=================+
##FD   index.css                |  24785|  4/12/24 16:07|   883| u1.04`40412.1607
##FD   index.css                |  17987|  4/12/24 11:39|   519| v1.04-40412.1139
##FD   index.css                |  17534|  4/13/24 13:50|   521| u1.04-40413.1350
##FD   index.css                |  17616|  4/14/24 12:30|   522| u1.04-40414.1230
##DESC     .--------------------+-------+---------------+------+-----------------+
#           This HTML file contains the CSS styles for the AIDocs-Review main page.
#           It was developed by Rick Shinner as parts of the formR Apps project.
#           The Styles for The .Marketing properites and Modal have been added.
#
##LIC      .--------------------+----------------------------------------------+
#           Copyright (c) 2024 8020Data-formR * Released under
#           MIT License: http://www.opensource.org/licenses/mit-license.php
##FNCS     .--------------------+----------------------------------------------+
#           https://fonts.googleapis.com/css?family=EB+Garamond
#           https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre
#           https://fonts.googleapis.com/css2?family=Roboto+Slab

##CHGS     .--------------------+----------------------------------------------+
# .(40408.01  4/08/24 RAM  4:00p|  Modify Rick's CSS Styles
# .(40410.05  4/10/24 RJS  4:00p|  Update Mktg text
# .(40410.06  4/10/24 RJS  4:00p|  Update Modal text
# .(40410.07  4/10/24 RJS  4:00p|  Remove H2 headers
# .(40412.01  4/12/24 RAM  4:04p|  Add JPT's Doc Header Info
# .(40412.02  4/12/24 RJS 11:39a|  Various style changes
# .(40413.01  4/13/24 RJS  1:50p|  Prepare for release
# .(40414.05  4/14/24 RAM 12:30p|  Release again
                                |
##SRCE     +====================+===============================================+
*/
/* Basic Blocks Custom App */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

/*=============================================*/
/* root REPLACE Point - :root */
/*----------------------------------------------
:root selector for variables
-----------------------------------------------*/
:root {
    --Body_background-color: lightblue; /*platinum*/
   
    --Header_background-color: blue;
    --Header_hover-color: white;
    --HeaderLogo-image: "";
    --HeaderLogo_margin: 35px 0 0 0px;
    --HeaderLogo-FontFamily: "Cooper Black";
    --HeaderList-font-size: 1.2rem;
    --Header_Menu_font-color: whitesmoke;

    --ShowMoreColor: whitesmoke;                                             /* .(40410.05.3 RJS Was Black) */

    --Marketing_height: 20%;                                           /* .(40408.01.1 RAM Was: 120px in v1.04a.40410.1727-Rick) */
    --Marketing_background-color: blue;                                 /* .(40410.05.4 RJS Was whitesmoke) */

    --Chat_background-color: #E5E4E2; /*platinum*/
    --Chat_top-margin: 40px;                                            /* .(40408.01.2 RAM Was: 60px; Added) */

    --Footer_background-color:  whitesmoke;
    --Footer_hover-color: white;
    --FooterList-font-size: .9rem;  
    
    --GlobalFontFamily: Arial, Helvetica, sans-serif;

} 
/* END REPLACE :root ==========================*/

/*----------------------------------------------
The <html> tag properties (unchanged)
-----------------------------------------------*/
html {
    background: var(--Body_background-color);
    height: 100%;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
/* END HTML ===================================*/

/*----------------------------------------------
The body properties
-----------------------------------------------*/
body {
    background: var(--Body_background-color);
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--GlobalFontFamily);
}

/*------------------------------------------------
The .Header properties
-------------------------------------------------*/
.Header {
    background: var(--Header_background-color);
    width: 100%;
    height: 60px;
    position: fixed;  /*was relative*/
    z-index: 100;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content:left;
    align-items: center;
}
/* END .Header =============================*/


/*------------------------------------------------
The .HeaderLogo properties
-------------------------------------------------*/
.AIHeaderLogo {
  margin-left: 5px;
  padding-left: 5px;
}
.AIHeaderLogo a {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: var(--HeaderLogo-FontFamily);
  font-weight: 600;    
  color: var(--Header_Menu_font-color);
  font-style: italic;
}
/*------------------------------------------------
The .HeaderLogoText properties
-------------------------------------------------*/
.HeaderLogoText {
  margin-left: 10px;
  padding-right: 0px;
  text-align: left;
}
.HeaderLogoText a {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--HeaderLogo-FontFamily);
    font-weight: 600;    
    color: var(--Header_Menu_font-color);
    font: style italic;
}

.HeaderVideoDemo {
  padding-left: 400px;
}
.HeaderVideoDemo a {
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--HeaderLogo-FontFamily);
    font-weight: 800;    
    color: var(--Header_Menu_font-color);
}

.HeaderLogon {
  padding-left: 30px;
}

.HeaderLogon a {
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--HeaderLogo-FontFamily);
    font-weight: 800;    
    color: var(--Header_Menu_font-color);
}


/*------------------------------------------------
The .Marketing properties
-------------------------------------------------*/
.Marketing {
  background: var(--Marketing_background-color);
  width: 100%; /*was 300px*/
  height: 150px;
  top: 60px; /*<---ADD to adjust the top position*/
  position: fixed;
  z-index: 99;
  max-width: 1000px;
  margin: auto;
  color: white;
  text-align: left;
  visibility: visible;                                                  /* .(40410.05.6 RJS Add visibility) */
}

/* END Marketing properties ===========================*/

/*------------------------------------------------
The .MarketingText properties
-------------------------------------------------*/
.MarketingText {
  margin-left: 1rem;
  margin-top: .5rem;
  color: white;                                                         /* .(40410.05.7 RJS Change Mktg font color, was black) */
  text-align: left;
  font-size: .94rem;                                                    /* .(40410.05.8 RJS Change Mktg font size, was .86rem;) */
}

.MarketingBreak {
  display: none;
}

.TR1, .TR2, .TR3, .TR4 {
  height: 30px;
}

.MarketingLongBreak {
  display: block;
}
.MarketingLongSpace {
  display:block;
}
.AIMyDocsText {                                                         /* .(40410.05.9 RJS Beg Add .AIMyDocs style) */
  font-size: 1rem;
  font-weight: 800;
  text-decoration: underline;
  font-style: italic;
}
/* END MarketingText properties ===========================*/

/*===============================================
The .Chat properties
-------------------------------------------------*/
.Chat {
  background: var(--Chat_background-color);
  width: auto;
  height: 100%; 
  position: relative;
  color: black;
  font-family: var(--GlobalFontFamily);
  font-size: 1.2rem;
  font-weight: 600;
  top: 120px; /*var(--Chat_top-margin);<---ADD to adjust the top position .(40410.06.2 RJS Change Chat Height, was 60).(40408.01.5 RAM Was: 40px) */
  scroll-behavior: auto;
}
/* END S2R-1 .Chat ===========================*/
/*===============================================
The .Chat h2 properties
-------------------------------------------------*/
.Chat h2 {
  padding: 1.5;
  color: black;
}
/* END S2-1 .Chat h2=========================*/


/*=============================================== */                    /* .(40410.06.2 RJS Beg Add Model Properties) *//*
The Modal Popup properties
-------------------------------------------------*/
/*The Show More Link in marketing*/
.box {
  /*background-color: blue;*/
  height: 1vh;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  padding-left: 20px;
}
.box a {
  padding: 1px;
  background-color: blue;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 800;
}
/*END Show More Link in marketing*/

/*The Modal Popup*/
.modal {
  position: fixed;
  inset: 0;
  background: lightgray;
  display: none;
  align-items:first baseline;
  justify-content: center;
}

.content {
  position: relative;
  background: lightgray;
  padding: 1em 2em;
  border-radius: 4px;
  width: 50%;
}

.modal:target {
  display: flex;
}
h1 {
  font-size: .9rem;
}
/* END Modal Popup ===========================*/                        /* .(40410.06.2 RJS End) */


/*===============================================*/
/* FR-1 REPLACE Point - Footer */
/*------------------------------------------------
The .Footer properties
-------------------------------------------------*/
.Footer {
    background: blue;/*var(--Footer_background-color);*/
    width: 100%; 
    height: 3%;
    /*top: 80px;  Removed in place of the bottom property*/
    bottom: 0;
    position: fixed;
    z-index: 99;
    max-width: 1000px;
    margin: auto;
  } 
/* END FR-1 .Footer =============================*/
/*------------------------------------------------
The .FooterLogo properties
-------------------------------------------------*/
.AIFooterLogo {
  margin-left: 5px;
  padding-left: 5px;
}
.AIFooterLogo a {
  text-decoration: none;
  font-size: .8rem;
  font-family: var(--HeaderLogo-FontFamily);
  font-weight: 600;    
  color: var(--Header_Menu_font-color);
  font-style: italic;
}
/*------------------------------------------------
The .FooterLogoText properties
-------------------------------------------------*/
.FooterLogoText {
  margin-top: 1px;
  margin-left: 2px;
  padding-right: 0px;
  text-align: left;
  padding-right: 900px;
}
.FooterLogoText a {
    text-decoration: none;
    font-size: .7rem;
    font-family: var(--HeaderLogo-FontFamily);
    font-weight: 600;    
    color: var(--Header_Menu_font-color);
    font: style italic;
}


/*===========================================*/
/* R-1 START BLOCK ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/* Responsive Code */  
/*-----------------------------------------

The @media MAX-width query properties
iPhone Landscape
=========================================*/
@media only screen
and (min-width: 621px)
and (max-width: 1000px) 
{
  .Header {
    height: 15%;
  }
  .AIHeaderLogo a {
    font-size: 2.5rem;
  }
  .HeaderLogoText a {                                                       /* .(40410.06.4 RJS Beg Add Tablet @Media styles) */
    font-size: 1.7rem;
    font-weight: 400;
  }
  .AIMyDocsText {                                                       /* .(40410.06.4 RJS Beg Add Tablet @Media styles) */
    font-size: .85rem;
    font-weight: 400;
    text-decoration: underline;
  }
  .Marketing {
    top: 47px;
    height: 185px;
  }
  .MarketingTable tr{
    height: 20px;
  }
  .MarketingText {
    margin-left: 1rem;
    margin-top: .5rem;
    color: white;
    text-align: left;
    font-size: .95rem;
  }  
  .MarketingBreak {
    display: block;
  }
  .TR2, .TR3 {
    display: none;
  }
  .Chat{
    top: 20px;
  }
  .Footer{
    display: none;
  }
  /*For popup*/
  h1 {
    font-size: .8rem;
  }
  /*end popup*/

}

/*-----------------------------------------
The @media MAX-width (440px) query properties
iPhone Portrait
=========================================*/
@media only screen
and (max-width: 440px)  
{
  html {
    width: 99%;
  }
  
  body {
    height: 120%;
    width: 99%;
  }
  .Header {
    height: 40px;
    width: 99%
  }
  .AIHeaderLogo a {
    font-size: 2.2rem;
  }
  .HeaderLogoText a {                                                       /* .(40410.06.4 RJS Beg Add Tablet @Media styles) */
    font-size: 1.6rem;
    font-weight: 400;
  }
  .AIMyDocsText {                                                       /* .(40410.06.4 RJS Beg Add Tablet @Media styles) */
    font-size: .55rem;
    font-weight: 400;
    text-decoration: underline;
  }
  .Marketing {
    top: 40px;
    height: 120px;
    width: 99%;
  }
  .MarketingTable tr{
    height: 20px;
  }
  .MarketingText {
    margin-left: 1rem;
    margin-top: .5rem;
    color: white;
    text-align: left;
    font-size: .7rem;
  }  
  .MarketingLongBreak {
    display: block;
  }
  .MarketingTable tr {
    height: 33px;
  }
  .TR1, .TR2, .TR3, .TR4 {
    text-align: left;
  }
  .TR3 {
    display:none;
  }
  .box {
    height: 10px;
    padding-left: 2px;
    width: 200px;
  }
  .modal {
    width: 150%;
  }  
  .Chat{
    top: 50px;
    width: 110%;
    height: 90%;
  }
  .Footer{
    display: none;
  }

  .box a {
    font-size: .8rem;
  }

  h2 {
      padding: 10;
  } 

}


/* R-1 END BLOCK ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/ 


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 700;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* END CSS */
